/* Add borders to visualize default display */
div,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.inline-paragraph {
  display: inline;
  background-color: rgb(247, 247, 58);
}

.block-link {
  display: block;
  background-color: rgb(59, 150, 181);
}

.flex-container {
  display: flex;
  gap: 10px;
  background-color: #fb8181;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #5f5858;
}

.inline-block-example {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: rgb(213, 151, 161);
}

.none-example {
  display: none; /* invisible */
}

.static-pos {
  position: static; /* default */
  background-color: #c8c3c3;
}

.fixed-pos {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgb(158, 158, 255);
}

.relative-pos {
  position: relative;
  left: 20px;
  background-color: rgb(149, 220, 149);
}

.absolute-pos {
  position: absolute;
  top: 50px;
  left: 200px;
  background-color: rgb(149, 72, 72);
}

.sticky-pos {
  position: sticky;
  top: 0;
  background-color: rgb(186, 186, 80);
}
/**7. define class with name “f-family” use font family properties,
 font style and give any relevant value for each properties. 
 [font-weight, font-variant, font-style, font-size, etc]. apply on paragraphs.**/
.f-family {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-variant:normal;
    font-style:normal;
    font-size:18px;
    color:blue;

}